
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa; 
}


.navbar {
    background-color: #333 !important;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar-brand {
    color: #ffffff !important;
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link {
    color: #ffffff !important;
    margin-left: 15px;
}

.nav-link:hover {
    color: #ffc107 !important; 
}


.btn-custom {
    background-color: #333;
    color: white;
}

.btn-custom:hover {
    background-color: #555;
    color: white;
}

.footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #333;
    color: white;
    text-align: center;
}